!!!
%html
  %head
    %script{:type=>"text/javascript",:src=>"jquery-1.6.4.min.js"}
    %script{:src=>"quiz.js",:type=>"text/javascript"}
    %title
      Manga Reborn
  %body
    %h1
      Manga Reborn
    %h4
      you should choice!
    %p{:name=>"hoge"}
      %form{:action=>"./result",:method=>"POST"}
        %div
          Which dou you like?
        %input{:name=>"quiz1",:type=>"radio",:value=>"aaa",:checked=>"checked"}
          aaa
        %input{:name=>"quiz1",:type=>"radio",:value=>"bbb"}
          bbb
        %div
          %input{:type=>"submit",:value=>"submit"}
