!!!
%html
  %head
    %script{:type=>"text/javascript",:src=>"jquery-1.6.4.min.js"}
    %script{:src=>"quiz.js",:type=>"text/javascript"}
    %title
      Manga Reborn
  %body
    %h1
      Result
    %div
      you choose
      %span= params[:quiz1] 
    %div
      - if params[:quiz1] == "dog" then
        %span
          you are kind.
      - else
        %span
          you are cool.
