@charset "utf-8";

img {vertical-align: bottom;}
img,img a{border:none;}
body{
	margin: 0;
	padding:10px 0;
	font-family: "メイリオ","Meiryo", "Osaka", "MS Pゴシック", "MSゴシック",Helvetica, verdana, arial;
	min-height: 700px;
}
h1{position: relative;}
h2{margin:0 0 30px;}
p{margin:0 0 10px;}
.small{font-size:0.7em;}
.b{font-weight:bold;}
.wrap {
	margin: 0px auto;
	width: 650px;
	text-align:center;
	position:relative;
}
#msg{
	text-align:left;
}
a.btn,
input[type="submit"].btn {
	margin: 0 auto 10px;
	border: 0;
	padding: 10px 20px;
	display: block;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px #aaa;
	font-size: 20px;
	text-shadow: 1px 1px 3px #CCC;
	font-weight: bold;
	width: 80%;
	text-decoration: none;
}

/*以下追加*/

#top2{
   	position: absolute;
   	top: 233px;
	right:0;
}

#top2:hover{
	margin: 6px 0 30px 0;
	}

#top2:hover{
	cursor: pointer;
}

#top3{
	width: 600px;
	position: absolute;
	top: 0px;
-webkit-animation:'animation' 4s ease 1s 1 normal;
-moz-animation:'animation' 4s ease 1s 1 normal;
-o-animation:'animation' 4s ease 1s 1 normal;
-ms-animation:'animation' 4s ease 1s 1 normal;
}

@-webkit-keyframes 'animation'{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes 'animation'{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-o-keyframes 'animation'{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-ms-keyframes 'animation'{
	0%{opacity: 0;}
	100%{opacity: 1;}
}