!!!
%html
  %head
    %title= "manga"
  %body
    %form{:action=>'./result',:method=>'POST'}
      %div= @q1
      %input{:type=>'radio',:value=>0,:name=>'first'}
        %div= @a1
      %input{:type=>'radio',:value=>1,:name=>'first'}
        %div= @a2
      %input{:type=>'submit',:value=>"submit"}
